body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.circular-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 5px solid #ff0000; 
}
.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    background-color: #ff2a00;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.edu-item, .exp-item {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

